body {
	background-color: brown;
}
.container_12 {
	/*background-image: url("../imgs/img2.jpg");*/
	background-color: black;
	margin-right: 100px; 
	font-family: 'Supermercado One', cursive;
 	color: white;
}
.navbar li,a{
	display: inline;
	float: right;
	font-size: 16px;
}

h4 {
	color: yellow;
	float: right;
}
.foot li,a{
	display: inline;
	/*overflow-y: hidden;
	*/padding: 10px;
	display: inline;
	float: left;
}